<nz-layout class="layout">
  <nz-header>
    <a class="logo" href="/">
      <div class="trapezoid rotate"></div>
      <div class="rotate"><div class="trapezoid rotate"></div></div>
    </a>
    <div style="float: left;"><h2>The Collective Mind</h2></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="float-right">
      <li nz-menu-item routerLink="/about" nzMatchRouter style="color: #90ee90cc">What is The Collective Mind?</li>
      <li nz-menu-item routerLink="/home" nzMatchRouter>Home</li>
      <li nz-menu-item routerLink="/dashboard" nzMatchRouter>Dashboard</li>
      <li nz-menu-item routerLink="/account" nzMatchRouter>Account</li>
      <li nz-menu-item>Log out</li>
    </ul>
  </nz-header>
  <nz-content class="content">
      <router-outlet></router-outlet>
  </nz-content>
  <nz-footer style="opacity: .5">Collective Mind 2021</nz-footer>
</nz-layout>
