.logo {
  float: left;
  margin:10px;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}
.float-right{
  float: right;
}

.layout{
  height: 100%;
  width: 100%;
}

.content{
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  //padding-left: 24px;
  //padding-right: 24px;
  padding: 24px;
}

.trapezoid {
  margin: 10px;
  border-bottom: 10px solid #555;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 80px;
}
.rotate {
  rotate: 180deg;
}
