<div class="statement-list">
  <h2 style="margin-bottom: 25px; width: 100%; text-align: center">{{title}}</h2>
  <nz-tabset nzTabPosition="left">
    <nz-tab nzTitle="Validated">
      <div>
            <nz-list class="list-view">
              <div *ngIf="items.length < 1" style="width: 100%; opacity: .5">
                <h4 style="width: 100%; text-align: center">No statements found</h4>
              </div>
              <nz-list-item *ngFor="let item of items">
                <nz-card [nzTitle]="item.title" class="result-item" nzHoverable *ngIf="item.title !== null" [nzExtra]="extraTemplate" (click)="onSelect.emit(item)">
                  <p>{{item.body}}</p>
                </nz-card>
              </nz-list-item>
            </nz-list>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Trial">
      <div>
        <nz-list class="list-view">
          <div *ngIf="items.length < 1" style="width: 100%; opacity: .5">
            <h4 style="width: 100%; text-align: center">No statements found</h4>
          </div>
          <nz-list-item *ngFor="let item of items">
            <nz-card [nzTitle]="item.title" class="result-item" nzHoverable *ngIf="item.title !== null" [nzExtra]="extraTemplate" (click)="onSelect.emit(item)">
              <p>{{item.body}}</p>
            </nz-card>
          </nz-list-item>
        </nz-list>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Meta">
      <div>
        <nz-list class="list-view">
          <div *ngIf="items.length < 1" style="width: 100%; opacity: .5">
            <h4 style="width: 100%; text-align: center">No statements found</h4>
          </div>
          <nz-list-item *ngFor="let item of items">
            <nz-card [nzTitle]="item.title" class="result-item" nzHoverable *ngIf="item.title !== null" [nzExtra]="extraTemplate" (click)="onSelect.emit(item)">
              <p>{{item.body}}</p>
            </nz-card>
          </nz-list-item>
        </nz-list>
      </div>
    </nz-tab>

    <ng-template #extraTemplate>
      <nz-badge nzStandalone [nzCount]="25" nz-tooltip nzTooltipTitle="25 negative arguments"></nz-badge>
      <nz-badge nzStandalone [nzCount]="150" [nzStyle]="{ backgroundColor: '#90ee90cc' }" nz-tooltip nzTooltipTitle="150 positive arguments"></nz-badge>
    </ng-template>
  </nz-tabset>
</div>

